/* CSS 3D Transform */
div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: aqua;
}

.translated{
    transform: perspective(10px) translateZ(-10px);
}

.scaled{
    margin-left: 200px;
    transform: rotateZ(30deg);
    /* transform: perspective(350px) scaleZ(6) rotateX(45deg) rotateY(30deg); */
}