 /* Combinator Selectors */

 /* 1.General Sibling selector */

 /* h1 ~ p{
    color: red;
 } */

/* target all the p tags that are siblings of elementswhich have class-name as 'head' */
/* .head ~ p{
    color: red;
 } */

 /* 2. Adjacent sibling selector */
 /* targets the immediate right element of the main element */

/* h1 + p{
    color: red;
} */

/* #para + .head{
    color: green;
} */

/* 3.Child Selector */
/* targets all the direct children */

/* div > p {
    color:blue;
 } */
 
/* .head > p {
   color:blue;
} */

