/* used to style specified parts of an element */
/* syntax :-
selector :: pseudo-element{} */

.para-1::first-line{
    color:blue;
}

.para-1::first-letter{
    color: black;
}

.para-1::after{
    content: "hey there is present inside after psuedo-element";
    color: red;
}

.para-1::before{
    content: "hey there is present inside after psuedo-element";
    color: red;
}

/* .para-1::before{
    content: url(/html/utils/robot.jpg);
} */

/* .para-1::after{
    content: url(/html/utils/robot.jpg);
} */

.btn:hover{
    /* width: 30%; */
    scale: 2;
}